In [1]:
import yfinance
import pandas

In [2]:
dane = yfinance.Ticker("MSFT")

In [9]:
notowania = pandas.read_parquet("aapl.parquet")

In [10]:
notowania

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Obrot
0,1980-12-12 00:00:00-05:00,0.098726,0.099155,0.098726,0.098726,469033600,0.0,0.0,4.630578e+07
1,1980-12-15 00:00:00-05:00,0.094005,0.094005,0.093575,0.093575,175884800,0.0,0.0,1.645848e+07
2,1980-12-16 00:00:00-05:00,0.087136,0.087136,0.086707,0.086707,105728000,0.0,0.0,9.167368e+06
3,1980-12-17 00:00:00-05:00,0.088853,0.089282,0.088853,0.088853,86441600,0.0,0.0,7.680611e+06
4,1980-12-18 00:00:00-05:00,0.091429,0.091858,0.091429,0.091429,73449600,0.0,0.0,6.715442e+06
...,...,...,...,...,...,...,...,...,...
11178,2025-04-21 00:00:00-04:00,193.270004,193.800003,189.809998,193.160004,46742500,0.0,0.0,9.028781e+09
11179,2025-04-22 00:00:00-04:00,196.119995,201.589996,195.970001,199.740005,52976400,0.0,0.0,1.058151e+10
11180,2025-04-23 00:00:00-04:00,206.000000,208.000000,202.800003,204.600006,52929200,0.0,0.0,1.082931e+10
11181,2025-04-24 00:00:00-04:00,204.889999,208.830002,202.940002,208.369995,47311000,0.0,0.0,9.858193e+09
11182,2025-04-25 00:00:00-04:00,206.369995,209.750000,206.199997,209.279999,38198600,0.0,0.0,7.994203e+09